@media screen and (min-width: 860px)
{
*{
    margin: 0;
    padding: 0;
    width: 100%;
}
/*Header*/
#nom{
    font-size: 16vh;
    color: white;
}
#coor{
    color: white;
}
.mail{
    color: red;
}
.git{
    color: purple;
}
#photo{
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}
/*HEADER*/

/*TITRE*/

#titre.h1{
    color: white;
}

/*TITRE*/

/*MAIN*/



/*MAIN*/
}