@media screen and (min-width: 860px)
{
*{
    margin: 0;
    padding: 0;
    width: 100%;
}
/*GRID SITE*/
#site {
    background-image: url("../img/fondcv.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 0.5fr repeat(2, 1fr) 0.25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

/*GRID SITE*/

/*Header*/
#header{
    grid-area: 1 / 1 / 2 / 6;
    width: auto;
    padding: 1vh;
}
.header{
    backdrop-filter: blur(4px) saturate(250%);
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 5px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    margin: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1fr;
    grid-template-rows: 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
a{
    text-decoration: none;
    color: white;
}
#nom{ 
    grid-area: 1 / 1 / 2 / 2;
    font-size: 4.5vh;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
#coor{
    grid-area: 1 / 2 / 2 / 3;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 10vh;
}
.mail{
    color: white;
    font-size: 3.5vh;
    text-align: right;
}
.git{
    color: white;
    font-size: 3.5vh;
    text-align: right;
}
#photo{
    grid-area: 1 / 3 / 2 / 4;
    background-image: url("../img/Photo.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    height: 25vh;
    width: 20vh;
    margin: auto;
}
/*HEADER*/

/*TITRE*/
#titre{
    grid-area: 2 / 1 / 3 / 6;
    backdrop-filter: blur(4px) saturate(250%);
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 5px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    margin: 15px;
    width: auto;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
    font-size: 2.7vh;
}

/*TITRE*/

/*MAIN*/

#main{
    grid-area: 3 / 1 / 4 / 6;
}
.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: auto;
}
#onglets{
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 3vh;
}
.btns{
    border-radius: 10px;
    border-color: transparent;
    text-shadow: 7px 6px 9px #000000;
    background: linear-gradient(145deg, #4b4bdb, #4646bd);
    box-shadow:  10px 10px 20px #1c1c525b,
                -10px -10px 20px #7070ff70;
}
.btns:focus{
    border-radius: 10px;
    border-color: transparent;
    text-shadow: none;
    background: #4646CD;
    box-shadow: inset 10px 10px 20px #1c1c5200,
                inset -10px -10px 20px #7070ff;
}
button{
    color: white;
}
.taches{
    color: rgba(240, 240, 240, 0.678);
    font-size: 2.2vh;
}
#onglets button{
    width: auto;
    height: 5vh;
    padding: 1vh;
    font-size: 2.5vh;
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
}
.expemp{
    font-size: 2.9vh;
}
.compleft{
    float: left;
}
.compright{
    float: right;
}
#paragraphe{
    grid-area: 2 / 1 / 3 / 2;
    color: white;
    font-size: 2.4vh;
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 2vh;
    text-shadow: 7px 6px 9px #000000;
}
#fondpara{
    grid-area: 1 / 2 / 3 / 3;
}
.expbg{
    background-image: url("../img/fondexp.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 2vh;
}
.compbg{
    background-image: url("../img/fondcomp.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 2vh;
}
.formabg{
    background-image: url("../img/fondforma.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 2vh;
    line-height: 4vh;
}
.infosbg{
    background-image: url("../img/fondinfos.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 2vh;
    line-height: 4.5vh;
}


/*MAIN*/

/*FOOT*/

#footer{
    grid-area: 4 / 1 / 6 / 6;
    position: absolute;
    bottom: 0;
    display: flex;
    backdrop-filter: blur(4px) saturate(250%);
    background-color: rgba(255, 255, 255, 0.418);
    text-shadow: 7px 6px 9px #000000;
}
.foot{
    text-align: center;
    margin-bottom: 0.5vh;
}
.ccfoot{
    text-decoration: underline;
    color: white;
}
#imgLCC{
    width: 9vh;
    height: auto;
    margin-top: auto;
    position: absolute;
    bottom: 0.5vh;
    right: 1vh;
}

/*FOOT*/
}